<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302056178395-udqu0etgce8kgcm8vvsot8l25rbiiht2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302056178395-udqu0etgce8kgcm8vvsot8l25rbiiht2</string>
	<key>API_KEY</key>
	<string>AIzaSyDhZPTY5RWGzWC95rgF7isr1nuVZJxfIvk</string>
	<key>GCM_SENDER_ID</key>
	<string>302056178395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.radikProject</string>
	<key>PROJECT_ID</key>
	<string>radikauth</string>
	<key>STORAGE_BUCKET</key>
	<string>radikauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302056178395:ios:be23835d420285e5e302fe</string>
</dict>
</plist>